body {

}
 
#header {
    position: fixed;
    z-index: 50;
    top: 45px;
    left: 245px;
    width: 500px;
    height: 110px;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
}

#billboard {
    background: lightblue;
    position: relative;
    height: 168px;
}

#billboard img {
    margin-left: 200px;
}

#track {
    position: fixed;
    background: darkgreen;
    width: 100%;
    height: 100%;
}

#svg_horse {
    position: fixed;
    top: 0px;
    left: 0px;
}

#fence {
    height: 150px;
    background-image: url("../img/fence.png");
    background-repeat: repeat-x;
}